.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nas-container{
  justify-content: flex-start;
  align-self: flex-start;
  font-size: calc(10px + 1vmin);
  margin-left:3vw;
}

.App-link {
  color: #61dafb;
}
.heading-lucas{
  animation: App-logo-color 3s infinite alternate;
}

.online{
  color:green;
}
.offline{
  color:red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-color{
  from {color:#61dafb;}
  to {color:whitesmoke;}
}
